<!DOCTYPE html>
<html>
<head>
    <% include templates/header.ejs %>
    <script src="../ckeditor/ckeditor.js"></script>
    <title>Accueil</title>
</head>
<body>
<header>
    <% include templates/navBar.ejs %>
</header>
<div class="container">
    <form action="/edition/article" method="post">
        <div class="well">
            <h2>Modifier un article</h2>
            <input value="<%=IDArticle%>" name="IDArticle">
            <input value="<%=IDRubrique%>" name="IDRubrique">

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-8">
                        <label>Titre:</label>
                        <input type="text" class="form-control" name="titreA" value="<%= art.titre%>">
                    </div>
                </div>
                <br>
                <label for="summernote">Contenu:</label>
                <textarea cols="10" id="Contenu" name="contenu" rows="10" ><%- art.contenu %></textarea>

                <script>
                    //Ajout d'uploadcare a mon editeur de texte ckeditor
                    UPLOADCARE_PUBLIC_KEY = 'demopublickey';
                    CKEDITOR.replace( 'Contenu' , {
                        extraPlugins: 'uploadcare',
                        uploadcare: {
                            multiple: true
                        }
                    });

                </script>
                <div align="center">
                    <button type="submit" class="btn btn-default" >Modifier l'article</button>
                </div>
            </div>

    </div>
</form>
</div>
</body>
</html>