<!DOCTYPE html>
<html>
<head>
    <title>configuration</title>
    <% include templates/header.ejs %>
</head>
<body>
<header>
    <% include templates/navBar.ejs %>
</header>
<div class="container">
    <h1 align="left">configuration</h1>
    <p>
        Modifier mot de passe, .... ?
    </p>

    <% include templates/footer.ejs %>
</div>
</body>
</html>