<!DOCTYPE html>
<html>
<head>
    <% include templates/header.ejs %>
    <title>configuration</title>

</head>
<body>
<header>
    <% include templates/navBar.ejs%>
</header>
<div class="container">
    <form action="/edition/configuration" method="post">
        <input type="text" class="form-control" name="newPassword">
        <button type="submit" class="btn btn-default" >Modifier l'article</button>
    </form>
</div>
<footer>
    <% include templates/footer.ejs %>
</footer>
</body>
</html>