<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
      <% include templates/header.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <body>
  <header>
      <% include templates/navBar.ejs %>
  </header>
  <div class="container">
    <div class="col-sm-8">

    </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <div class="container">
            L'équipe de recherche Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla
            Bla bla blaBla bla bla bla bla bla bla Bla bla blaBla bla bla bla bla bla bla Bla bla blaBla bla bla bla bla bla bla Bla bla blaBla bla bla bla bla bla bla
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Nouvelles</p>
          Cette année Bla bla bla bla bla Bla bla blaBla bla bla bla bla bla blaBla bla blaBla bla bla bla bla bla blaBla bla blaBla bla bla bla bla bla bla
        </div>

      </div>


    </div>
  </div><br>




  <% include templates/footer.ejs %>
  </div>
  </body>
</html>
