
<style type="text/css">
    .bgimg {
        background-image: url('images/Bdd2.png') ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat center center fixed;
    }
    .imgContainer {
        /* Margin/padding copied from Bootstrap */
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        /* Set width to your desired site width */  }

</style>

<div class="region region-header clearfix">
    <div class="bgimg">
        <div class="row">
            <div class="col-sm-9">

            </div>


                <div align="right">
                    <div class="col-sm-3">
                        <a href="http://www.univ-usto.dz/laboratoires/lssd/" target="_blank">
                            <div class="imgContainer">
                                <img src="images/lssd.png"  class="img-circle" height="100" width="100" alt="lssd">
                            </div>
                        </a>
                    </div>
                </div>



        </div>

    </div>
</div>

