<div class="region region-header clearfix">
    <div id="block-block-1" class="block block-block clearfix">


        <div class="content">
            <div style="float:left;"><a href="?q="><img src="/images/bdd.png" alt="Equipe BD" height="81px"></a></div>
            <div style="float:right;"><a href="http://liris.cnrs.fr/"><img src="/images/lssd.png" border="0"></a></div>
            <div style="position:relative; left:5ex; top: 2ex;><span style=" font-weight:="" bold=""><span style="color:#717CA1; font-size: larger;">Equipe BD</span><br>
                Laboratoire d'InfoRmatique en Images et Systèmes d'information<br><span style="font-size:smaller;">UMR 5205 CNRS/INSA de Lyon/Université Claude Bernard Lyon 1/Université Lumière Lyon 2/Ecole Centrale de Lyon</span>
            </div>
        </div>
    </div>
</div>