
<div class="container-fluid">
    <div>
        <div class="row">
            <div class="col-sm-3">
                <div>
                    <h3>Equipe BDD</h3>
                </div>
            </div>
            <div class="col-sm-6">
                <div align="center">
                    <h3>Laboratoire Signaux,Systèmes et Données</h3>
                    <p>Salle N°9413, 4ème étage, Faculté de Génie Eléctrique , <br> USTO, El-M’Nouar, 3100à, Oran, Algérie</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <div class="container-fluid">
                        <div align="right">
                            <br>
                            <img src="images/lssd.JPG" class="img-circle" height="100" width="100" alt="lssd">

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

