<footer class="container-fluid text-center">
    <div >
        <div align="center">
            <a href="http://www.univ-usto.dz/"><img src="images/USTO-MB.jpg" class="img-circle" height="65" width="65" alt="lssd"></a>

            <h4>Université des sciences et de la technologie d'Oran - Mohamed-Boudiaf</h4>
            <p>El Mnaouar, BP 1505, Bir El Djir 31000, Oran, Algérie.</p>
        </div>
        <a target="_blank" href="http://localhost:8080/login">Administrateur</a>
    </div>
</footer>
