<div class="container-fluid">
    <div >
        <div align="left">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">

                        <div class="col-sm-2">
                            <a href="http://www.univ-usto.dz/" target="_blank">
                                <img src="images/USTO-MB.jpg" class="img-circle" height="100" width="100" alt="lssd">
                            </a>
                        </div>
                        <div class="col-sm-9">
                            <h4>Université des sciences et de la technologie d'Oran
                                <br>Mohamed-Boudiaf</h4>
                            <small class="text-muted">El Mnaouar, BP 1505, Bir El Djir 31000, Oran, Algérie.</small>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">


                </div>




            </div>



        </div>

    </div>
</div>
